<div class="card shadow border-0 rounded-4 mb-5">
    <div class="card-body p-3">
        <div class="row align-items-center gx-5">
            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-2 rounded-4">
                    <div class="text-primary fw-bolder mb-1"><i class="bi bi-calendar" style="margin-right: 2px;"></i>{{infoEntradas.inicio}} - {{infoEntradas.fin}}</div>
                    <div class="small fw-bolder"> <i class="bi bi-person"></i>{{infoEntradas.titulo}}</div>
                    <div class="small text-muted"><i class="bi bi-building"></i>{{infoEntradas.autor}}</div>
                    <div class="small text-muted"><i class="bi bi-geo-alt-fill"></i>{{infoEntradas.direccion}}</div>
                </div>
            </div>
            <div class="col-lg-8">
                <div>{{infoEntradas.contenido}}</div>
            </div>
        </div>
    </div>
</div>
