<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h4 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Componentes</span></h4>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <h4 class="fw-bolder">Scroll Pagination Demo</h4>
                            <app-infinite-scroll></app-infinite-scroll>
                        </div>

                    </div>
                </div>
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <h4 class="fw-bolder">Payment Paypal Demo</h4>
                            <app-paypal></app-paypal>
                        </div>
                    </div>
                </div>

                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <h4 class="fw-bolder">Social Login Demo</h4>
                            <app-google></app-google>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>