<!-- Page Content-->
<div class="container px-2 my-5">   
    <div class="row gx-5 justify-content-center" id="print">
        <div class="col-lg-12 col-xl-12 col-xxl-12">
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0"></h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    <a class="btn btn-primary px-4 py-3" href="#!" (click)="print()">
                        <div class="d-inline-block bi bi-download me-2"></div>
                        Guardar CV
                    </a>
                </div>
            </section>
            <section>
                <div class="d-flex align-items-center justify-content-between mb-1">
                    <div class="d-flex align-items-center">
                        <div class="p-1">
                            <div class="fst-italic">
                                <div class="small text-muted">
                                    <b>Nombre:</b>
                                    <p>Jorge Antonio González Camacho</p>
                                    <b>Residencia::</b>
                                    <p> Aguascalientes, Aguascalientes México.</p>
                                    <b>Tel: </b>
                                    <p> 4492570329</p>
                                    <b>Email: </b>
                                    <p> jorgegcmx&#64;gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    <img src="assets/perfil.png" class="rounded-circle" alt="Cinque Terre" width="150" height="150">
                </div>
            </section>
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">

                    <div class="d-flex align-items-center">
                        <div class="p-1">

                            <div class="small text-muted">
                                <a class="text-gradient" target="_blank"
                                    href="https://github.com/jorgegcmx?tab=repositories"><i
                                        class="bi bi-github"></i>https://github.com/jorgegcmx?tab=repositories</a>
                                <br>
                                <a class="text-gradient" target="_blank"
                                    href="http://linkedin.com/in/jorge-antonio-gonzalez-camacho-a4b861103"><i
                                        class="bi bi-linkedin"></i>http://linkedin.com/in/jorge-antonio-gonzalez-camacho-a4b861103</a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>

        <div class="col-lg-4 col-xl-4 col-xxl-12">
            <!-- Education Section-->
            <section>
                <h6 class="text-secondary fw-bolder mb-4">Educación</h6>
                <!-- Education Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2"><i class="bi bi-calendar"
                                            style="margin-right: 2px;"></i>2010 - 2016</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder"><i class="bi bi-building"></i>Universidad
                                            Tecnólogica de León Gto.</div>
                                        <div class="small text-muted"><i class="bi bi-geo-alt-fill"></i>Guanajuato</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted"><i class="bi bi-receipt"></i>Titulo en Ingeniería
                                            en Tecnologias de la Información </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Education Card 2-->
            </section>
            <!-- Experience Section-->
            <section>
                <div class="card shadow border-0 rounded-4 mb-5 p-4 ">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="text-secondary fw-bolder mb-0">Cursos/Certificados</h6>
                    </div>
                    <ul class="list-group ">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a
                            class="link_cer"
                            href="https://www.linkedin.com/learning/certificates/d085a2490a054e96e0e6ff00c3612b685b38b80432e0db734950fbcbf78b056b "
                            target="_blank" rel="noopener noreferrer">Angular avanzado </a><img width="48"
                            src="https://media.licdn.com/dms/image/C560BAQHaVYd13rRz3A/company-logo_100_100/0/1638831590218/linkedin_logo?e=1719446400&amp;v=beta&amp;t=QgKsuk2Y8WTpBffhm3f9RUoXYRiPY4iSLQyds1U-SCo"
                            loading="lazy" height="48" alt="Logotipo de LinkedIn" id="ember570"
                            class="ivm-view-attr__img--centered EntityPhoto-square-3   evi-image lazy-image ember-view">
                    </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a
                                class="link_cer"
                                href="https://ieca.guanajuato.gob.mx/validar/validar.php?id_alumno=265384&id_grupo_solicitud=39084"
                                target="_blank" rel="noopener noreferrer">Fundamentos para un servicio de
                                Calidad</a><img width="48"
                                src="https://ieca.guanajuato.gob.mx/validar/img/logo_ieca.png" loading="lazy"
                                height="48" alt="Logotipo de Udemy" id="ember681"
                                class="ivm-view-attr__img--centered EntityPhoto-square-3   evi-image lazy-image ember-view">
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a
                                class="link_cer"
                                href="https://www.linkedin.com/learning/certificates/b56042f4eb78a83b29c9f7682b82fc594b16ea3b054aa2f2bd9f81f2988f3b98 "
                                target="_blank" rel="noopener noreferrer">Angular esencial </a> <img width="48"
                                src="https://media.licdn.com/dms/image/C560BAQHaVYd13rRz3A/company-logo_100_100/0/1638831590218/linkedin_logo?e=1719446400&amp;v=beta&amp;t=QgKsuk2Y8WTpBffhm3f9RUoXYRiPY4iSLQyds1U-SCo"
                                loading="lazy" height="48" alt="Logotipo de LinkedIn" id="ember570"
                                class="ivm-view-attr__img--centered EntityPhoto-square-3   evi-image lazy-image ember-view">
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a
                                class="link_cer"
                                href="https://www.linkedin.com/learning/certificates/d0992543c151ea9abf22a8c9960daff03e3914f22dc254c756d75af10d1b805d "
                                target="_blank" rel="noopener noreferrer">REACT JS práctico </a><img width="48"
                                src="https://media.licdn.com/dms/image/C560BAQHaVYd13rRz3A/company-logo_100_100/0/1638831590218/linkedin_logo?e=1719446400&amp;v=beta&amp;t=QgKsuk2Y8WTpBffhm3f9RUoXYRiPY4iSLQyds1U-SCo"
                                loading="lazy" height="48" alt="Logotipo de LinkedIn" id="ember570"
                                class="ivm-view-attr__img--centered EntityPhoto-square-3   evi-image lazy-image ember-view">
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a
                                class="link_cer"
                                href="https://www.udemy.com/certificate/UC-0c7e07ca-79a9-4165-a427-3afde9d1ff71/ "
                                target="_blank" rel="noopener noreferrer">React Hooks & Firebase & Material Design :
                                Fullstack </a><img width="48"
                                src="https://media.licdn.com/dms/image/C4D0BAQFQr9e68bBOPQ/company-logo_100_100/0/1630536914848/udemy_logo?e=1719446400&amp;v=beta&amp;t=4W8RZ33k0jg8sECf395IOZYaRwkcfz0pRL2rEZYeX14"
                                loading="lazy" height="48" alt="Logotipo de Udemy" id="ember681"
                                class="ivm-view-attr__img--centered EntityPhoto-square-3   evi-image lazy-image ember-view">
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a
                                class="link_cer"
                                href="https://www.udemy.com/certificate/UC-ea9eeb7c-f6a1-497b-9185-7c023a63328c/ "
                                target="_blank" rel="noopener noreferrer">Máster Completo en Java </a><img width="48"
                                src="https://media.licdn.com/dms/image/C4D0BAQFQr9e68bBOPQ/company-logo_100_100/0/1630536914848/udemy_logo?e=1719446400&amp;v=beta&amp;t=4W8RZ33k0jg8sECf395IOZYaRwkcfz0pRL2rEZYeX14"
                                loading="lazy" height="48" alt="Logotipo de Udemy" id="ember681"
                                class="ivm-view-attr__img--centered EntityPhoto-square-3   evi-image lazy-image ember-view">
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="card shadow border-0 rounded-4 mb-5  p-4 ">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="text-secondary fw-bolder mb-0">Tools</h6>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            GIT
                            <i class="bi bi-github"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            Fork GIT
                            <i class="bi bi-tools"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            Visual Studio Code
                            <i class="bi bi-tools"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            IntelliJ
                            <i class="bi bi-tools"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            Eclipse
                            <i class="bi bi-tools"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            Azure Devops
                            <i class="bi bi-tools"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            Azure Cloud
                            <i class="bi bi-cloudy"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            FireBase ServerLess
                            <i class="bi bi-cloudy"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            Java
                            <i class="bi bi-filetype-java"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            JavaScript
                            <i class="bi bi-filetype-js"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            Angular JS Framework
                            <i class="bi bi-file-earmark-code-fill"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            React JS Framework
                            <i class="bi bi-file-earmark-code-fill"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            Next JS Framework
                            <i class="bi bi-file-earmark-code-fill"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            Spring Boot Framework
                            <i class="bi bi-file-earmark-code-fill"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            Swagger
                            <i class="bi bi-file-code"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            OpenApi
                            <i class="bi bi-file-code"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            JWT
                            <i class="bi bi-file-lock-fill"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            DBeaver
                            <i class="bi bi-database"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            Mongo DB
                            <i class="bi bi-database"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            SQL Server
                            <i class="bi bi-database"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            Postgres SQL
                            <i class="bi bi-database"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center link_cer">
                            MySQL
                            <i class="bi bi-database"></i>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- Divider-->
            <div class="pb-1"></div>
        </div>

        <div class="col-lg-8 col-xl-8 col-xxl-12">
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="text-primary fw-bolder mb-0">Experiencia</h6>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                </div>
                <div *ngFor="let item of productList">
                    <!-- Experience Card 1-->
                    <app-resumen-items [infoEntradas]="item"></app-resumen-items>
                </div>
                @if (DataEntradas$ | async; as resultObject) {

                @for (item of resultObject; track item.id) {
                <app-resumen-items [infoEntradas]="item"></app-resumen-items>
                }

                }
                @else {
                <div class="position-absolute top-50 start-50">
                    <app-spinner-loading></app-spinner-loading>
                </div>

                }
                <!--div *ngFor="let entrada of DataEntradas$ | async; index as i">
                        <app-resumen-items [infoEntradas]="entrada"></app-resumen-items>
                    </div-->
                @if (errorMessage) {
                <app-error-message [errorMessage]="errorMessage" />
                }
            </section>
        </div>
    </div>
</div>